h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.diff-bg{
    background-color: pink !important;
}
.text-primary {
    color: pink !important;
}
.email {
    color: pink !important;
}
.tableauPlaceholder {
    
}